html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

a {
	color: inherit;
	text-decoration: none;
}

img {
	max-width: 100%;
}

svg path {
	stroke: inherit;
	stroke-width: inherit;
	fill: inherit;
}

@font-face {
	font-family: 'OpenSans';
	src: local('OpenSans-Regular'),
		url('../fonts/OpenSansRegular.woff2') format('woff2'),
		url('../fonts/OpenSansRegular.woff') format('woff');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'OpenSans';
	src: local('OpenSans-Light'),
		url('../fonts/OpenSansLight.woff2') format('woff2'),
		url('../fonts/OpenSansLight.woff') format('woff');
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'OpenSans';
	src: local('OpenSans-SemiBold'),
		url('../fonts/OpenSansSemiBold.woff2') format('woff2'),
		url('../fonts/OpenSansSemiBold.woff') format('woff');
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}

body {
	min-width: 320px;
	font-family: 'OpenSans', sans-serif;
	font-weight: 400;
	line-height: normal;
	color: #1c1c1c;
}

:root {
	--gap: 30px;
}

/* glob */
.list-reset {
	margin: 0;
	padding: 0;
	list-style: none;
}

.btn-reset {
	padding: 0;
	border: none;
	background-color: transparent;
	cursor: pointer;
}

.btn {
	position: relative;
	outline: none;
	padding: 15px 35px;
	color: #fff;
	font-size: 15px;
	font-weight: 600;
	font-family: inherit;
	text-transform: uppercase;

	border-radius: 3px;
	background-color: #3172b9;
	transition: background-color 0.3s ease-in-out;
}

.btn::after {
	content: '';
	position: absolute;
	top: -3px;
	left: -3px;
	right: -3px;
	bottom: -3px;
	border-radius: inherit;
	border: 1px solid #71a7e2;
	outline: none;
	opacity: 0;
	transition: opacity 0.3s ease-in-out;
}

.btn:focus::after {
	opacity: 1;
}

.btn:hover {
	background-color: #71a7e2;
}

.btn:active {
	background-color: #0e3b6c;
}

.btn:active::after {
	opacity: 0;
}

.flex {
	display: flex;
}

.container {
	max-width: 1200px;
}

.section-title {
	margin: 0;
	margin-bottom: 40px;

	color: #1c1c1c;
	font-size: 36px;
	font-weight: 300;
	line-height: 130%; /* 46.8px */
}

.section-descr {
	margin: 0;
	margin-bottom: 50px;
	text-align: center;

	color: #787878;
	font-size: 16px;
	font-weight: 400;
}

.section-offset {
	padding-top: 87px;
	padding-bottom: 130px;
}

/* header */
.header {
	padding: 36px 0;
	border-bottom: 1px solid #c4c4c4;
	background-color: #fff;
}

.header__container {
	align-items: center;
}

.header__logo {
	margin-right: auto;
}

.header__nav {
	display: flex;
	margin-right: 52px;
}

.nav__list {
	gap: 52px;
}

.nav__link {
	position: relative;
	font-size: 15px;
	font-weight: 600;
	color: #1c1c1c;
	transition: color 0.3s ease-in-out;
}

.nav__link:focus {
	outline-offset: 2px;
	outline: 1px solid #71a7e2;
}

.nav__link:hover {
	color: #71a7e2;
}

.nav__link::after {
	content: '';
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 2px;
	background-color: #3172b9;
	opacity: 0;
	transition: opacity 0.3s ease-in-out;
}

.nav__link:active {
	color: #3172b9;
	outline: none;
}

.nav__link:active:after {
	opacity: 1;
}

.burger {
	display: none;
}

/* hero */

.hero {
	padding-top: 100px;
	padding-bottom: 150px;
	background-image: url('../img/hero-bg.jpg');

	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.hero-container {
	align-items: flex-start;
}

.hero__title {
	margin: 0;
	margin-bottom: 25px;

	color: #1c1c1c;
	font-size: 40px;
	font-weight: 300;
	line-height: 130%; /* 52px */
}

.hero__descr {
	margin: 0;
	margin-bottom: 34px;

	color: #787878;
	font-size: 16px;
	line-height: 155%; /* 24.8px */
}
.hero__action {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.hero__btn {
	margin-bottom: 14px;
	min-width: 250px;
	padding-top: 20px;
	padding-bottom: 20px;
}

.hero__secure {
	color: #787878;
	font-size: 11px;
	line-height: 155%; /* 17.05px */
	text-transform: uppercase;

	padding-left: 27px;
	background-image: url('../img/hero-secure.svg');
	background-size: 14px 17px;
	background-repeat: no-repeat;
	background-position: left center;
}

/* services */
.services {
	border-bottom: 1px solid #dadada;
}

.services__title {
	text-align: center;
	margin-bottom: 22px;
}

.services__title-descr {
	text-align: center;
	margin-bottom: 54px;
}
.services__list {
	width: 100%;
}

.services__item {
	flex-direction: column;
	align-items: center;
	padding: 60px 30px;
	margin-bottom: 30px;
	border-radius: 5px;
	border: 1px solid #e4e4e4;

	transition: background-color 0.3s ease-in-out, border-color 0.3s ease-in-out;
}

.services__item:hover {
	border-color: #3172b9;
	background-color: #3172b9;
}

.services__item-icon {
	fill: #3172b9;
	margin-bottom: 25px;
	transition: fill 0.3s ease-in-out;
}

.services__item:hover .services__item-icon {
	fill: #fff;
}

.services__item-title {
	margin: 0;
	margin-bottom: 15px;
	text-align: center;
	color: #1c1c1c;
	font-size: 20px;
	font-weight: 600;
	line-height: 130%; /* 26px */

	transition: color 0.3s ease-in-out;
}

.services__item:hover .services__item-title {
	color: #fff;
}

.services__item-descr {
	margin: 0;
	text-align: center;

	color: #787878;
	font-size: 14px;
	line-height: 150%; /* 21px */

	transition: color 0.3s ease-in-out;
}

.services__item:hover .services__item-descr {
	color: #fff;
}

/* articles */
.articles {
	border-bottom: 1px solid #dadada;
}

.articles__list {
	/* --offsets: 1;
	gap: var(--gap);

	flex-wrap: wrap; */
}

.articles__item {
	/* width: calc((100% - (var(--gap) * var(--offsets))) / (var(--offsets) + 1)); */
	margin-bottom: 30px;
}

.blog__preview {
	overflow: hidden;
	border-radius: 5px;
	border: 1px solid #e4e4e4;
	transition: color 0.3s ease-in-out;
	width: 100%;
	height: 100%;
}

.blog__preview-link {
	position: relative;
	width: 100%;
	height: 100%;
	transition: background-color 0.3s ease-in-out;
}

.blog__preview-link:focus {
	background-color: #71a7e2;
}

.blog__preview-link:focus .blog__preview-title {
	color: #fff;
}

.blog__preview-link:focus .blog__preview-descr {
	color: #fff;
}
.blog__preview-link:focus .blog__preview-time {
	color: #fff;
}

.blog__preview-link:hover {
	background-color: #3172b9;
}

.blog__preview-link:hover .blog__preview-title {
	color: #fff;
}

.blog__preview-link:hover .blog__preview-descr {
	color: #fff;
}
.blog__preview-link:hover .blog__preview-time {
	color: #fff;
}

.blog__preview-link:active {
	background-color: #0e3b6c;
}

.blog__preview-link:active .blog__preview-title {
	color: #fff;
}

.blog__preview-link:active .blog__preview-descr {
	color: #fff;
}
.blog__preview-link:active .blog__preview-time {
	color: #fff;
}

.blog__preview-image {
	object-fit: cover;
}

.blog__preview-text {
	padding: 30px;
}

.blog__preview-time {
	display: block;
	margin-bottom: 5px;

	color: #787878;
	font-size: 10px;
	line-height: 150%; /* 15px */
	transition: color 0.3s ease-in-out;
}

.blog__preview-title {
	margin: 0;
	margin-bottom: 15px;

	color: #1c1c1c;
	font-size: 20px;
	font-weight: 600;
	line-height: 130%; /* 26px */

	transition: color 0.3s ease-in-out;
}

.blog__preview-descr {
	margin: 0;
	max-width: 210px;
	color: #787878;
	font-size: 14px;
	line-height: 150%; /* 21px */
	transition: color 0.3s ease-in-out;
}

/* clients */
.clients {
	border-bottom: 1px solid #dadada;
}

.clients__item {
	flex-direction: column;

	padding: 50px 36px;
	padding-bottom: 30px;

	border-radius: 5px;
	border: 1px solid #e4e4e4;
	margin-bottom: 30px;
}

.clients__item-descr {
	margin: 0;
	margin-bottom: 30px;

	color: #787878;
	font-size: 14px;
	line-height: 180%; /* 25.2px */
}

.clients__user {
	margin-top: auto;
	align-items: center;

	border-top: 1px solid #e4e4e4;
	width: 100%;
	padding-top: 28px;
}

.user__avatar {
	flex-shrink: 0;
	width: 67px;
	margin-right: 17px;
}
.user__avatar img {
	width: 100%;
	height: 100%;
}

.user__text-name {
	margin: 0;
	margin-bottom: 5px;

	color: #1c1c1c;
	font-size: 17px;
	font-weight: 600;
	line-height: 180%; /* 30.6px */
}

.user__text-post {
	color: #787878;
	font-size: 14px;
	line-height: 180%; /* 25.2px */
}

/* contacts */
.contacts {
	border-bottom: 1px solid #dadada;
}

.contacts__title {
	margin-bottom: 109px;
}

.contacts__address {
	font-style: normal;
}

.contacts__item {
	flex-direction: column;
	margin-bottom: 30px;
	padding-top: 48px;

	background-position: left top;
	background-repeat: no-repeat;
	background-size: 29px 29px;
}

.contacts__item-address {
	background-image: url('../img/location_on.svg');
}

.contacts__item-phone {
	background-image: url('../img/phone.svg');
}

.contacts__item-mail {
	background-image: url('../img/mail.svg');
}

.contacts__item-caption {
	font-size: 17px;
	margin-bottom: 30px;
}

.contacts__item-text {
	max-width: 215px;
	margin: 0;

	color: #787878;
	font-size: 14px;
	line-height: 180%; /* 25.2px */
}

.contacts__link {
	display: inline-block;
	color: #787878;
	font-size: 14px;
	line-height: 180%; /* 25.2px */

	transition: color 0.3s ease-in-out;
}

.contacts__link:focus {
	outline: 1px solid #71a7e2;
}

.contacts__link:hover {
	color: #71a7e2;
}

.contacts__link:active {
	outline: none;
	color: #0e3b6c;
}

/* join-us */
.join-us {
	border-bottom: 1px solid #dadada;
}

.join-us__title {
	text-align: center;
}

.form {
	padding-left: 55px;
	padding-right: 55px;
}

.form__top {
	display: flex;
	justify-content: space-between;
	margin-bottom: 19px;
}

.form__left {
	width: 49%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	gap: 14px;
}

.form__input {
	padding: 16px 28px;
	width: 251px;
	height: 60px;

	border-radius: 50px;
	border: 1px solid #dadada;

	opacity: 0.6;

	transition: background-color 0.3s ease-in-out, border-color 0.3s ease-in-out;
}

.form__input:focus {
	outline: none;
	border-color: #71a7e2;
	background-color: rgba(113, 167, 226, 0.2);
}

.form__input:hover {
	border-color: #71a7e2;
}

.form__input:active {
	border-color: #0e3b6c;
}

.form__select {
	padding: 16px 28px;

	width: 251px;
	height: 60px;

	border-radius: 50px;
	border: 1px solid #dadada;
	color: #1c1c1c;
	opacity: 0.6;

	padding: 8px 32px 8px 16px;
	outline: none;
	cursor: pointer;

	transition: background-color 0.3s ease-in-out, border-color 0.3s ease-in-out;
}

.form__select:focus {
	outline: none;
	border-color: #71a7e2;
	background-color: rgba(113, 167, 226, 0.2);
}

.form__select:hover {
	border-color: #71a7e2;
}

.form__select:active {
	border-color: #0e3b6c;
}

.form__right {
	width: 49%;
}

.form__textarea {
	border-radius: 20px;
	border: 1px solid #dadada;
	padding: 16px 28px;

	opacity: 0.6;
	resize: none;
	width: 100%;
	height: 100%;

	transition: background-color 0.3s ease-in-out, border-color 0.3s ease-in-out;
}

.form__textarea:focus {
	outline: none;
	border-color: #71a7e2;
	background-color: rgba(113, 167, 226, 0.2);
}

.form__textarea:hover {
	border-color: #71a7e2;
}

.form__textarea:active {
	border-color: #0e3b6c;
}

.form__bottom {
	display: flex;
	justify-content: flex-end;
}

.form__wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.form__btn {
	border-radius: 50px;
	min-width: 230px;
	height: 60px;

	margin-bottom: 9px;
}
.form__checkbox {
	color: #787878;
	font-size: 12px;
	font-weight: 400;

	user-select: none;
	cursor: pointer;
}

/* .form__checkbox input {
	margin-right: 8px;
} */

.form__checkbox-input {
	appearance: none;
	position: absolute;
}

.form__checkbox-text {
	position: relative;
	padding-left: 22px;
}

.form__checkbox-text::before {
	content: '';
	position: absolute;
	left: 0;
	top: 50%;
	width: 14px;
	height: 14px;
	border: 1px solid #787878;
	transform: translateY(-50%);
}

.form__checkbox-text::after {
	content: '';
	position: absolute;
	left: 0;
	top: 50%;
	width: 14px;
	height: 14px;
	background-image: url('../img/check.svg');
	background-repeat: no-repeat;
	background-position: center;
	transform: translateY(-50%);
	opacity: 0;
	transition: opacity 0.3s ease-in-out;
}

.form__checkbox-input:checked + .form__checkbox-text::after {
	opacity: 1;
}

.form__link {
	color: #3172b9;
	font-size: 12px;
	font-weight: 400;
	text-decoration-line: underline;
}
/* footer */
.footer {
	padding: 45px 0;
}
.footer__container {
	align-items: center;
	justify-content: space-between;
	display: flex;
}

.footer__left {
	margin-right: auto;
	display: flex;
	align-items: center;
}

.footer__list {
	display: flex;
	margin-right: 56px;
	align-items: center;
	gap: 28px;
}

.footer__item {
	gap: 28px;
}
.footer__link {
	position: relative;
	color: #787878;
	font-size: 15px;
	font-weight: 600;
	line-height: normal;
}

.footer__link:focus {
	outline-offset: 2px;
	outline: 1px solid #71a7e2;
}

.footer__link:hover {
	color: #71a7e2;
}

.footer__link::after {
	content: '';
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 2px;
	background-color: #3172b9;
	opacity: 0;
	transition: opacity 0.3s ease-in-out;
}

.footer__link:active {
	color: #3172b9;
	outline: none;
}

.footer__link:active:after {
	opacity: 1;
}

.footer__logo {
	margin-right: 25px;
}

.footer__copy {
	color: #787878;
	font-size: 12px;
	line-height: normal;
}

.social {
	display: flex;
	align-items: center;
	gap: 32px;
}
.social__link {
	width: 24px;
	height: 24px;
}

.social__link svg {
	fill: #000;
	transition: fill 0.3s ease-in-out;
}

.social__link:focus {
	outline-offset: 2px;
	outline: 1px solid #71a7e2;
}

.social__link:hover svg {
	fill: #71a7e2;
}

.social__link:active svg {
	outline: none;
	fill: #3172b9;
}
